body{
    background-image: url(/cafe\ replica/images/ella-olsson-oPBjWBCcAEo-unsplash.jpg);
    padding: 20px;
}
h1,h2,p{
    text-align: center;
}
h1, h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2B2A2A;
}
h1{
    font-size: 40px;
    margin:0;
    margin-bottom: 15px;
}
h2{
    font-size: 30px;
}
hr{
    height: 2px;
    border-color: lavenderblush;
    background-color: lavenderblush;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}
.menu{
    width: 70%;
    max-width: 500px;
    background-color: rgb(75, 138, 75);
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px;
}
.flavour,.dessert{
    text-align: left;
    width: 70%;
    font-size: 18px;
}
.price{
    text-align: right;
    width:30%;
    font-size: 18px;
}
.established{
    font-style: italic;
}
.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bottom-line{
    margin: 25px;
}
/* FOOTER */
footer{
    font-size: 16px;
}
address{
    font-style: italic;
}
.address{
    margin-bottom: 5px;
}
a{
    color: black;
}
a:hover{
    color: #452829;
}
a:active{
    color: #F5F2F2;
}
a:visited{
    color:#F5F2F2;
}